{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
   <form action="/s" method="get">
    <input class="size-large" size="40" type="text" name="q" value="{{q}}" />
    <input class="size-x-large" type="submit" value="search" />
  </form>
  <p>after: {% for x in range(1992,2011): %}
    <a href="/s?q=y:{{x}}">{{x}}</a>
    {% endfor %}
  </p>
 <ul>
  {% for a in articles: %}
  <li>{{a['published_on'].strftime("%Y-%m-%d")}}:<a href="{{a['url']}}" target="_blank">{{a['title']}}</a></li>
  <!--
    {{a.to_mongo()}}
  -->
  {% endfor %}
  </ul>
  <p>{{ num_articles }} articles retrieved</p>
{% endblock %}
